{% extends "cadmin/base.html" %}

{% block content %}

    <div class="header">
        <div class="section-inner clearfix">
            <h2 class="title"><a href="{% url 'post_list' %}">The Great Django Blog - Admin Panel</a></h2>
            <div class="user-welcome">
                <p>Welcome {{ request.user.username }}|
                    <a href="{% url 'auth_logout' %}">Logout</a>
                </p>
            </div>
        </div>
    </div>

    <div class="content">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <span>{{ message }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="section-inner">

            {% block main %}

            {% endblock %}

        </div>

    </div>

{% endblock %}